Q1. What is a database? Differentiate between SQL and NoSQL databases.

>A database is a collection of data that is organized in a specific manner to allow easy access, retrieval, and manipulation of the data.
Two types of database:

>a]SQL database: SQL stands for Structured Query Language. SQL databases are relational databases that store data in tables with predefined relationships between the tables. SQL databases are widely used in businesses, financial institutions, and other industries where data accuracy and consistency are critical. Examples of SQL databases are MySQL, Oracle, Microsoft SQL Server, and PostgreSQL.

>b]NoSQL databases: NoSQL stands for "not only SQL". NoSQL databases are non-relational databases that store data in a flexible, unstructured manner. Unlike SQL databases, NoSQL databases do not require predefined relationships between tables. Instead, they use a variety of data models, including document-oriented, key-value, graph, and column-family. Examples of NoSQL databases are MongoDB, Cassandra, and Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

> DDL stands for Data Definition Language.Use to define,modify and remove structure of objects.

>Create: Use to create databases object such as table,views,index,procedure,etc.

>ex: Create table emp(id number,name varchar2(25),salary number);

>Drop: Use to drop objects in DB such as tables,views,etc.

>drop table emp;

>ALTER: Use to modify pre-existing object in db.

>alter table emp add join_date date;

>TRUNCATE : Use to remove all data from the table.

>truncate table emp;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

>DML stands for data manipulation Language.It is use to interact & modify the data in RDB.

>Insert : Use to add new row into a table.

>Ex. Insert into emp  values(101,’RAM’,45000);

>Update: Use to modify existing data in table.

> Ex. Update emp set salary=50000 where id =101;

> Delete: Use to remove row from table.

> Ex. delete from emp where id =101;

Q4. What is DQL? Explain SELECT with an example.

>DQL is stands for data query language and it is used to retrieve data from a RDB.
The most commonly command is select which retrieve data from two or more tables.
Select id from emp;

Q5. Explain Primary Key and Foreign Key.

>Primary key is constraint which ensure that row in table have unique value. The primary key are used as a reference for foreign key in other table. Primary key can be created after table is created.

>Foreign key is a column or a set of columns in a table that refers to the primary key of another table. The foreign key constraint ensures that the values in the foreign key column(s) of a table match the values in the primary key column of the referenced table. Foreign keys are used to establish relationships between tables in a database. By referencing a primary key in another table, a foreign key allows you to create a link between the data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import pymysql
conn = pymysql.connect(
    host='localhost',
    user='demo_db',
    password='demo_mysql',
    db='mydb'
)
cursor = conn.cursor()
cursor.execute("SELECT * FROM EMP")
results = cursor.fetchall()
for row in results:
    print(row)
cursor.close()
conn.close()

>Cursor method create a cursor objects,which use to execute sql queries and fetch result.

>Execute method used to execute a sql query. The query is passed as a string parameter to this method. Ones query executed the result is fetch using method like fetchone() or fetchall().

Q7. Give the order of execution of SQL clauses in an SQL query.

>FROM: This clause specifies the table or tables from which the data is being retrieved.

>JOIN: This clause is used to combine rows from two or more tables based on a related column between them.

>WHERE: This clause is used to filter the rows returned by the query based on a specified condition.

>GROUP BY: This clause is used to group the rows returned by the query based on one or more columns.

>HAVING: This clause is used to filter the groups returned by the query based on a specified condition.

>SELECT: This clause is used to select the columns that will be returned by the query.

>DISTINCT: This clause is used to eliminate duplicate rows from the result set.

>ORDER BY: This clause is used to sort the rows returned by the query based on one or more columns.

>LIMIT: This clause is used to limit the number of rows returned by the query.